body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2rem;
}

div {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

img {
  width: 150px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}
