body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2rem;
}

div {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

img.center-image{
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 20%;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
}

table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}
/* slideshow image part */

@keyframes fade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}
.slideshow {
  position: relative;
  width: 600px;    /* set your desired width */
  height: 400px;   /* set your desired height */
  border-radius: 20%;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 12s infinite;
}

.slideshow img:nth-child(1) {
  animation-delay: 0s;
}
.slideshow img:nth-child(2) {
  animation-delay: 4s;
}
.slideshow img:nth-child(3) {
  animation-delay: 8s;
}
.slideshow img:nth-child(4) {
  animation-delay: 12s;
}
.slideshow img:nth-child(5) {
  animation-delay: 16s;
}
.slideshow img:nth-child(6) {
  animation-delay: 20s;
}

/*slideshow image part END*/

